/* ### GENERAL SITE STYLES ### */

body {
/*
  background-color: #231F20;
  color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
*/
}

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#site-canvas {
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.show-nav #site-canvas {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transform: translate3d(100vw, 0, 0);
  transform: translate3d(100vw, 0, 0);
}

/* ### MENU STYLES ### */

#site-menu {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100vw;
  background: #d6d7d8;
  color: #f5f5f5;
}

.site-menu-content {
  width: 100%;
  max-width: 760px;
  margin: 0px auto;
  padding: 20px;
  font-family: 'Roboto Slab', sans-serif;
}

#site-menu i {
  color: #231F20;
  font-size: 2em;
}

#site-menu a {
  text-decoration: none;
  color: rgba(35, 31, 32, 0.75);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

#site-menu a:hover {
  color: #f4f4f4;
}

h2 {
  font-size: 80px;
  text-align: center;
}

/* ### GENERAL CONTENT STYLES ### */

h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.25em;
}

p {
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: rgba(86, 178, 171, 0.5);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

a:hover {
  color: rgb(86, 178, 171);
}

.content {
  width: 100%;
/*  max-width: 760px;*/
/*  margin: 0px auto;*/
  padding: 20px;
}

i {
  font-size: 2em;
  color: dimgrey;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.nav-icon:hover {
  color: rgb(86, 178, 171);
}

/* ### FOOTER ### */

footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 30px;
   width: 100%;
   background: #231F20;
   text-align: center;
   margin-bottom: 30px;
}

footer a {
  color: rgba(245, 245, 245, 0.5);
  font-size: 0.75em;
}