﻿@using Centroserv.Models
@model Centroserv.ViewModels.ClientesEditViewModel

@{
    ViewBag.Title = "Create";
}


<h2>Adicionar Despesa</h2>
<br />



<form method="post">
    <div class="row ">
        <div class="col-7 text-info">
            <div class="form-row">
                <div class="form-group col-md-2 ">
                    <label for="slctTipo">Estabelecimento</label>
                    <select asp-for="Tipo" class="form-control" id="slctTipo" asp-items="@Html.GetEnumSelectList<TipoEstabelecimento>()"></select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Alias">Alias</label>
                    <input asp-for="Alias" class="form-control" placeholder="Ex. Jupiter">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Razao">Razao Social</label>
                    <input asp-for="Razao" class="form-control">
                </div>
            </div>


            <div class="form-row text-info">
                <div class="form-group col-md-5">
                    <label asp-for="Endereco">Endereco</label>
                    <input asp-for="Endereco" class="form-control">
                </div>
                <div class="form-group col-md-3 text-info">
                    <label asp-for="Bairro">Bairro</label>
                    <input asp-for="Bairro" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Cidade">Cidade</label>
                    <input asp-for="Cidade" class="form-control">
                </div>
                <div class="form-group col-md-1 text-info">
                    <label asp-for="UF">UF</label>
                    <input asp-for="UF" class="form-control">
                </div>
            </div>
            <hr />
            <div class="form-row text-info">
                <div class="form-group col-md-3">
                    <label asp-for="Contato">Tipo Contato</label>
                    <select asp-for="Contato" asp-items="@Html.GetEnumSelectList<TipoContato>()" class="form-control">
                        <option value="-1"></option>
                    </select>
                </div>

                <div class="form-group col-md-4 text-info">
                    <label asp-for="NomeContato">Nome</label>
                    <input class="form-control" asp-for="NomeContato">
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="EnderecoContato">Endereco</label>
                    <input class="form-control" asp-for="EnderecoContato">
                </div>
            </div>
            <div class="form-row text-info">

                <div class="form-group col-md-6">
                    <label asp-for="EmailContato">Email</label>
                    <input class="form-control" asp-for="EmailContato">
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="FoneContato">Fone</label>
                    <input class="form-control" asp-for="FoneContato">
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CelularContato">Celular</label>
                    <input class="form-control" asp-for="CelularContato">
                </div>
            </div>


            <br />




            <div class="accordion" id="accordionExample">

                <div class="card">
                    <div class="card-header " id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Agenda
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <div>
                                <h6 class="text-secondary">Carmen Miranda</h6>
                                <span class="text-secondary">Inicio: 10/Out/2018</span>
                            </div>
                            <br />
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Segunda</th>
                                        <th scope="col">Quarta</th>
                                        <th scope="col">Sexta</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10:00-15:00</td>
                                        <td>10:00-15:00</td>
                                        <td>10:00-15:00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header " id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Ocorrencias
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div>
                                <h6 class="text-secondary">Carmen Miranda</h6>
                                <span class="text-secondary">Inicio: 10/Out/2018</span>
                            </div>
                            <br />
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Segunda</th>
                                        <th scope="col">Quarta</th>
                                        <th scope="col">Sexta</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10:00-15:00</td>
                                        <td>10:00-15:00</td>
                                        <td>10:00-15:00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <br />
            <input class="btn btn-success" type="submit" name="save" value="Gravar" style="width:20%" />

        </div>


        <div class="col-4 bg-light">
            <h4>Contrato</h4>
            <div class="form-group">
                <label asp-for="SelectedImobiliaria">Imobiliaria / Administradora</label>
                <select asp-for="SelectedImobiliaria" class="form-control" id="slcImobiliaria" asp-items="@(new SelectList(Model.ListaImobiliarias,"Id","Nome"))">
                    <option value="-1"></option>
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Inicio">Inicio Contrato</label>
                    <input class="form-control text-success txtData" asp-for="Inicio">
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Fim">Fim Contrato</label>
                    <input class="form-control text-danger txtData" asp-for="Fim">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="ValorMaximoMaterial">Limite Material (R$)</label>
                    <input class="form-control text-secondary " asp-for="ValorMaximoMaterial">
                </div>
            </div>
            <div class="form-group form-check text-primary">
                <input asp-for="MaterialLimpeza" class="form-check-input">
                <label class="form-check-label" asp-for="MaterialLimpeza">Material de limpeza fornecido pelo cliente</label>
            </div>
            <div class="form-group">
                <label asp-for="Observacao">Observacao</label>
                <textarea class="form-control" asp-for="Observacao" rows="4"></textarea>
            </div>

            <h5>Servicoes Prestados</h5>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="SerLimpeza">
                <label class="form-check-label" asp-for="SerLimpeza">Limpeza</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="SerZeladoria">
                <label class="form-check-label" asp-for="SerZeladoria">Zeladoria</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="SerPortaria">
                <label class="form-check-label" asp-for="SerPortaria">Portaria</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="SerGramado">
                <label class="form-check-label" asp-for="SerGramado">Manutencao Gramado</label>
            </div>



            <div class="form-group">
                <label asp-for="Equipamentos">Equipamentos alocados a esse cliente</label>
                <textarea class="form-control" asp-for="Equipamentos" rows="3"></textarea>
            </div>
        </div>
    </div>
    <br />


</form>

<p>

</p>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Funcionarios Alocados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Inicio</th>
                            <th scope="col">Fim</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Carmen Miranda</td>
                            <td>01/Jan/2019</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Simone Ximena</td>
                            <td>25/Set/2012</td>
                            <td>20/Out/2018</td>
                        </tr>
                        <tr>
                            <td>Daine da Silva</td>
                            <td>25/Set/2010</td>
                            <td>20/Out/2012</td>

                        </tr>
                    </tbody>
                </table>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>



<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>




