﻿@using Centroserv.Models.ValoresPadroes
@model Centroserv.ViewModels.DespesasIndexViewModel

@{
    ViewData["Title"] = "Index";
}



<div class="row">
    <div class="col-6 text-info text-right"><h2>Despesas</h2></div>
   
</div>
<div class="row">
     <div class="col-6 text-left">
        <p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal_add" href="#">Nova Despesa</button>
        </p>
    </div>
</div>

<br />

<partial name="_MesAno" />
<br />

<div class="row">
    <div class="col-lg-12">
        <table class="table" id="tableDespesas">
            <thead>
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        Tipo Despesa
                    </th>
                    <th>
                        Valor
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Descricao Despesa
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Despesas)
                {
                    <tr class="@(item.TipoDespesa == Centroserv.Models.ValoresPadroes.TipoDespesa.Rembolso ? "table-danger" : "table-defasult") ">
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoDespesa)
                        </td>
                        <td class="NumValor">
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Alias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            <a href="#modal_edit" data-toggle="modal" data-id="@item.Id" class="text-info">Editar</a>
                            <span class="text-light"> | </span>
                            <a href="#ModalConfirmaDelete" data-toggle="modal" data-id="@item.Id" data-despesa="@(item.Descricao + " ("+item.TipoDespesa+" "+item.Data+")")" class="text-danger"> Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Despesa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Despesas" asp-action="Create" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="Data"></label>
                                <input asp-for="Data" class="txtData form-control" value="@(DateTime.Now.Date.ToString("dd/MM/yyyy"))" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdCliente">Cliente</label>
                        <select asp-for="IdCliente" class="form-control" asp-items="@(new SelectList(Model.ListaClientes,"Id","Alias"))"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoDespesa"></label>
                        <select asp-for="TipoDespesa" class="form-control" asp-items="@Html.GetEnumSelectList<TipoDespesa>()"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descricao"></label>
                        <input asp-for="Descricao" class="form-control" />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="Valor"></label>
                                <input asp-for="Valor" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <input type="submit" name="save" class="btn btn-primary" value="Salvar">
                </div>
            </form>
        </div>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Despesa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Despesas" asp-action="Edit" method="post" id="form_edit">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="Data" class="text-info"></label>
                                <input asp-for="Data" class="txtData form-control" value="@(DateTime.Now.Date.ToString("dd/MM/yyyy"))" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdCliente" class="text-info">Cliente</label>
                        <select asp-for="IdCliente" class="form-control" asp-items="@(new SelectList(Model.ListaClientes,"Id","Alias"))"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoDespesa" class="text-info"></label>
                        <select asp-for="TipoDespesa" class="form-control" asp-items="@Html.GetEnumSelectList<TipoDespesa>()"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descricao" class="text-info"></label>
                        <input asp-for="Descricao" class="form-control" />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="Valor" class="text-info"></label>
                                <input asp-for="Valor" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <input type="submit" name="save" class="btn btn-primary" value="Salvar">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalConfirmaDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="delete" method="post">
                <div class="modal-body">
                    <input type="hidden" id="idToBeDeleted" name="idToBeDeleted" value="" />
                    <h5 class="text-secondary">
                        Confirma a exclusao de
                        <span class="text-primary" id="sDespesa"></span>?                                                                                                <p></p>
                    </h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nao</button>
                    <input type="submit" name="name" class="btn btn-danger" value="Sim" />
                </div>
            </form>
        </div>
    </div>
</div>




<script>
    function exclui(Id) {
        //let dado = {
        //    "id": Id
        //};
        //$.post("despesas/delete/", dado, function (result) {
        //    console.log(result);
        //});
    }

    //triggered when modal is about to be shown
    $('#ModalConfirmaDelete').on('show.bs.modal', function (e) {
        //get data-id attribute of the clicked element
        var Despesa = $(e.relatedTarget).data('despesa');
        var Id = $(e.relatedTarget).data('id');
        //populate the textbox
        //$(e.currentTarget).find('input[name="sNome"]').val(Nome);
        $("#sDespesa").html(Despesa);
        $("#idToBeDeleted").attr("value", Id);
        //$("#btnDeleteModal").attr("onclick", "exclui(" + Id + ")");

    });


    $('#modal_edit').on('show.bs.modal', function (e) {
        var idDespesa = $(e.relatedTarget).data('id');
        //var $doc = $('#main');
        

        $.ajax({
            type: 'GET',
            url: 'https://localhost:44335/api/despesas/edit/' + idDespesa,
            success: function (retorno) {
                var objDespesa = JSON.parse(retorno)
                console.log(objDespesa.dados);
                $("#modal_edit #Data").val(objDespesa.dados.Data);
                //$("#modal_edit #IdCliente").attr("value", objDespesa.dados.IdCliente);
                $("#modal_edit #IdCliente").val(objDespesa.dados.IdCliente);
                $("#modal_edit #TipoDespesa").val(objDespesa.dados.TipoDespesa);
                $("#modal_edit #Descricao").val(objDespesa.dados.Descricao);
                var valorFormatado = parseFloat(Math.round(objDespesa.dados.Valor * 100) / 100).toFixed(2);
                $("#modal_edit #Valor").val(valorFormatado);

            },
            error: function (e) {
                console.log(e);
            }

        });


    });

</script>


@*<script>
        $('#modal_add').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>*@







<script>
    $(document).ready(function () {
        $('#tableDespesas').DataTable({
            "dom": 'frtip',
            columnDefs: [{
                targets: [0, 1, 2, 3],
                className: 'mdl-data-table__cell--non-numeric'
            }],
            "language": {
                "search": "Buscar:"
            }

        });
    });
</script>