﻿@using Centroserv.ViewModels;
@model ImobiliariasEditViewIndex


<h2 class="text-secondary">Adicionar Imobiliaria</h2>
<br />
<form method="post">
    <div class="col-5">
        <div class="form-group">
            <label asp-for="Nome" class="text-info"></label>
            <input asp-for="Nome" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Contato" class="text-info"></label>
            <input asp-for="Contato" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Fone" class="text-info"></label>
            <input asp-for="Fone" class="form-control " />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="text-info"></label>
            <input asp-for="Email" class="form-control " />
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="Endereco" class="text-info"></label>
                    <input asp-for="Endereco" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Bairro" class="text-info"></label>
                    <input asp-for="Bairro" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label asp-for="Cidade" class="text-info"></label>
                    <input asp-for="Cidade" class="form-control" />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="UF" class="text-info"></label>
                    <input asp-for="UF" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Obs" class="text-info"></label>
            <textarea asp-for="Obs" class="form-control" rows="5"></textarea>
        </div>


        <br />
        <hr />
        <div class="row">
            <div class="col-6">
                <input type="submit" class="btn btn-primary" value="Salvar" />
            </div>
            <div class="col-6 text-right">
                <a asp-action="Index" class="btn btn-link">Voltar</a>
            </div>
        </div>
    </div>
</form>
<br />



