﻿
@using Centroserv.ViewModels

@model ImobiliariasIndexViewModel

@{
    ViewData["Title"] = "Index";
}


<h3>Imobiliarias</h3>
<br />



<div class="row">
    @foreach (var x in Model.Imobiliarias)
    {
        <div class="col-sm-4">
            <div class="card" style="margin-top:20px">
                <div class="card-body">
                    <h5 class="card-title">@x.Nome</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@x.Contato</h6>
                    <p class="card-text">
                        <h4 class="text-primary">@x.Fone</h4> @x.Email
                    </p>
                    <a href="#" class="btn btn-info">Edificios</a>
                    <a asp-action="Edit" asp-route-id="@x.Id" class="btn btn-outline-info">Editar</a>
                    <a href="#addDialog" data-id="@x.Id" data-nome="@x.Nome" data-toggle="modal" class="btn btn-outline-danger">Excluir</a>
                </div>
            </div>
        </div>
    }
</div>
<br /><br />
<div class="row">
    <div class="col-12 ">
        <a asp-action="Create" asp-controller="Imobiliarias" class="btn btn-primary">Nova Imobiliaria</a>
    </div>
</div>





<div class="modal fade" id="addDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-secondary">
                    Confirma a exclusao da Imobiliaria <span class="text-primary" id="sNome"></span>?                                                                                                <p></p>
                </h5>
                <p>Atencao: Os edificios associados a essa imobiliaria nao serao excluidos</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nao</button>
                <a asp-action="Del" asp-route-id="1" id="btnDeleteModal" class="btn btn-danger">Sim</a>
            </div>
        </div>
    </div>
</div>


<script>
    //triggered when modal is about to be shown
    $('#addDialog').on('show.bs.modal', function (e) {
        //get data-id attribute of the clicked element
        var Nome = $(e.relatedTarget).data('nome');
        var Id = $(e.relatedTarget).data('id');
        //populate the textbox
        //$(e.currentTarget).find('input[name="sNome"]').val(Nome);
        $("#sNome").html(Nome);
        $("#btnDeleteModal").attr("href", "/Imobiliarias/Del/"+Id);
    });
</script>
