﻿@model Centroserv.ViewModels.MaterialEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Adicionar Material</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidade" class="control-label"></label>
                <input asp-for="Unidade" class="form-control" />
                <span asp-validation-for="Unidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdPadrao" class="control-label"></label>
                <input asp-for="QtdPadrao" class="form-control" />
                <span asp-validation-for="QtdPadrao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorUnitario" class="control-label"></label>
                <input asp-for="ValorUnitario" class="form-control" />
                <span asp-validation-for="ValorUnitario" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-sm-6 ">
                    <a asp-action="Index">Back to List</a>
                </div>
                <div class="form-group col-sm-6 text-right">
                    <input type="submit" value="Salvar" class="btn btn-success" style="width:40%" />
                </div>
            </div>

        </form>
    </div>
</div>




<div class="bg-light" >
    <ul id="main">
    </ul>
</div>



<script>
    $(function () {

        var $doc = $('#main');

        $.ajax({
            type: 'GET',
            url: 'https://localhost:44335/api/Teste',
            success: function (nomes) {
                $.each(nomes, function (i, nome) {
                    $doc.append('<li>' + nome + ' -- ' + i + ' </li>');
                    console.log(i + "-" + nome);
                });
            },
            error: function (e) {
                console.log(e);
            }

        });
        console.log('teste');

    });
</script>
