﻿@model Centroserv.ViewModels.MaterialEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar Material</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidade" class="control-label"></label>
                <input asp-for="Unidade" class="form-control" />
                <span asp-validation-for="Unidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdPadrao" class="control-label"></label>
                <input asp-for="QtdPadrao" class="form-control" />
                <span asp-validation-for="QtdPadrao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorUnitario" class="control-label"></label>
                <input asp-for="ValorUnitario" class="form-control" />
                <span asp-validation-for="ValorUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataUltimoReajuste" class="control-label"></label>
                <input asp-for="DataUltimoReajuste" class="form-control" readonly/>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-sm-6 ">
                    <a asp-action="Index">Back to List</a>
                </div>
                <div class="form-group col-sm-6 text-right">
                    <input type="submit" value="Salvar" class="btn btn-success" style="width:40%" />
                </div>
            </div>

        </form>
    </div>
</div>

