﻿@using Centroserv.ViewModels
@model MaterialIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-info">Lista de Materiais de Limpeza</h2>
<br />

<table class="table table-sm">
    <thead>
        <tr>
            <th>Descricao</th>
            <th>Unidade de Fornecimento</th>
            <th>Valor Unitario (R$)</th>
            <th>Data Ultimo Reajuste</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Materiais)
        {
            <tr>
                <td>
                    @item.Descricao
                </td>
                <td>
                    @item.Unidade
                </td>
                <td>
                    @item.ValorUnitario.ToString("0.00").Replace(".", ",")
                </td>
                <td>
                    @item.DataUltimoReajuste
                </td>  
                <td>
                    @Html.ActionLink("Editar", "edit", new { id = item.Id }, new { @class = "text-info" }) <span class="text-light">|</span>
                    <a href="#ModalConfirmaDelete" data-id="@item.Id" data-Material="@item.Descricao" data-toggle="modal" class="text-danger">Excluir</a>


                    @*@Html.ActionLink("Excluir", "delete", new { id = item.Id }, new { @class = "text-danger",  })*@
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar</a>
</p>






<div class="modal fade" id="ModalConfirmaDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-secondary">
                    Confirma a exclusao de 
                    <span class="text-primary" id="sMaterial"></span>?                                                                                                <p></p>
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nao</button>
                <a id="btnDeleteModal" class="btn btn-danger">Sim</a>
            </div>
        </div>
    </div>
</div>

    


<script>
    //triggered when modal is about to be shown
    $('#ModalConfirmaDelete').on('show.bs.modal', function (e) {
        //get data-id attribute of the clicked element
        var Material = $(e.relatedTarget).data('material');
        var Id = $(e.relatedTarget).data('id');
        //populate the textbox
        //$(e.currentTarget).find('input[name="sNome"]').val(Nome);
        $("#sMaterial").html(Material);
        $("#btnDeleteModal").attr("href", "/material/delete/" + Id);
    });
</script>