﻿@using Centroserv.Models
@model Centroserv.ViewModels.ClientesEditViewModel

@{
    ViewBag.Title = "Editar";
}


<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 60%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>




@*<div class="row justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <button class="nav-link btn btn-outline-secondary"  style="margin:3px" data-toggle="modal" data-target="#exampleModal">Funcionario</button>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary" asp-action="Index" asp-controller="Clientes" style="margin:3px">Agenda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-danger" asp-action="Index" asp-controller="Clientes" style="margin:3px">Ocorrencias</a>
            </li>
        </ul>
    </div>*@

<h2>@Model.Alias</h2>
<br />

<form method="post">
    <div class="row ">
        <div class="col-7 text-info">
            <div class="form-row">
                <div class="form-group col-md-2 ">
                    <label for="slctTipo">Estabelecimento</label>
                    <select asp-for="Tipo" class="form-control" id="slctTipo" asp-items="@Html.GetEnumSelectList<TipoEstabelecimento>()"></select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Alias">Alias</label>
                    <input asp-for="Alias" class="form-control" placeholder="Ex. Jupiter">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Razao">Razao Social</label>
                    <input asp-for="Razao" class="form-control">
                </div>
            </div>


            <div class="form-row text-info">
                <div class="form-group col-md-5">
                    <label asp-for="Endereco">Endereco</label>
                    <input asp-for="Endereco" class="form-control">
                </div>
                <div class="form-group col-md-3 text-info">
                    <label asp-for="Bairro">Bairro</label>
                    <input asp-for="Bairro" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Cidade">Cidade</label>
                    <input asp-for="Cidade" class="form-control">
                </div>
                <div class="form-group col-md-1 text-info">
                    <label asp-for="UF">UF</label>
                    <input asp-for="UF" class="form-control">
                </div>
            </div>
            <hr />
            <div class="form-row text-info">
                <div class="form-group col-md-3">
                    <label asp-for="Contato">Tipo Contato</label>
                    <select asp-for="Contato" asp-items="@Html.GetEnumSelectList<TipoContato>()" class="form-control">
                        <option value="-1"></option>
                    </select>
                </div>

                <div class="form-group col-md-4 text-info">
                    <label asp-for="NomeContato">Nome</label>
                    <input class="form-control" asp-for="NomeContato">
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="EnderecoContato">Endereco</label>
                    <input class="form-control" asp-for="EnderecoContato">
                </div>
            </div>
            <div class="form-row text-info">

                <div class="form-group col-md-6">
                    <label asp-for="EmailContato">Email</label>
                    <input class="form-control" asp-for="EmailContato">
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="FoneContato">Fone</label>
                    <input class="form-control" asp-for="FoneContato">
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CelularContato">Celular</label>
                    <input class="form-control" asp-for="CelularContato">
                </div>
            </div>


            <br />

            <div id="map"></div>
            <br />
            <br />



            <div class="accordion" id="accordionExample">

                <div class="card">
                    <div class="card-header " id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Agenda
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <div>
                                <h6 class="text-secondary">Carmen Miranda</h6>
                                <span class="text-secondary">Inicio: 10/Out/2018</span>
                            </div>
                            <br />
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Segunda</th>
                                        <th scope="col">Quarta</th>
                                        <th scope="col">Sexta</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10:00-15:00</td>
                                        <td>10:00-15:00</td>
                                        <td>10:00-15:00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header " id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Despesas
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div>
                                <h6 class="text-secondary">Carmen Miranda</h6>
                                <span class="text-secondary">Inicio: 10/Out/2018</span>
                            </div>
                            <br />
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Segunda</th>
                                        <th scope="col">Quarta</th>
                                        <th scope="col">Sexta</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10:00-15:00</td>
                                        <td>10:00-15:00</td>
                                        <td>10:00-15:00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <br />
            <input class="btn btn-success" type="submit" name="save" value="Gravar" style="width:20%" />

        </div>


        <div class="col-4 bg-light">
            <h4 class="text-secondary">Contrato</h4>
            <br />
            <div class="form-group">
                <label asp-for="SelectedImobiliaria">Imobiliaria / Administradora</label>
                <select asp-for="SelectedImobiliaria" class="form-control" id="slcImobiliaria" asp-items="@(new SelectList(Model.ListaImobiliarias,"Id","Nome"))">
                    <option value="-1"></option>
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Inicio">Inicio Contrato</label>
                    <input class="form-control text-success txtData" asp-for="Inicio">
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Fim">Fim Contrato</label>
                    <input class="form-control text-danger txtData" asp-for="Fim">
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="ValorMaximoMaterial">Limite Material (R$)</label>
                    <input class="form-control text-secondary " asp-for="ValorMaximoMaterial">
                </div>
            </div>
            <div class="form-group form-check text-primary">
                <input asp-for="MaterialLimpeza" class="form-check-input">
                <label class="form-check-label" asp-for="MaterialLimpeza">Material de limpeza fornecido pelo cliente</label>
            </div>
            <div class="form-group">
                <label asp-for="Observacao">Observacao</label>
                <textarea class="form-control" asp-for="Observacao" rows="4"></textarea>
            </div>

            <h5>Servicoes Prestados</h5>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="SerLimpeza">
                <label class="form-check-label" asp-for="SerLimpeza">Limpeza</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="SerZeladoria">
                <label class="form-check-label" asp-for="SerZeladoria">Zeladoria</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="SerPortaria">
                <label class="form-check-label" asp-for="SerPortaria">Portaria</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="SerGramado">
                <label class="form-check-label" asp-for="SerGramado">Manutencao Gramado</label>
            </div>



            <div class="form-group">
                <label asp-for="Equipamentos">Equipamentos alocados a esse cliente</label>
                <textarea class="form-control" asp-for="Equipamentos" rows="3"></textarea>
            </div>

            <div class="form-group">
                <input type="hidden" class="form-control" asp-for="Latitude" />
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" asp-for="Longitude" />
            </div>

        </div>
    </div>
    <br />

</form>

<br />
<br />

<script>

    // The following example creates a marker in Stockholm, Sweden using a DROP
    // animation. Clicking on the marker will toggle the animation between a BOUNCE
    // animation and no animation.

    var marker;

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: { lat: 59.325, lng: 18.070 }
        });
        var geocoder = new google.maps.Geocoder();

        //document.getElementById('submit').addEventListener('click', function () {
        //    geocodeAddress(geocoder, map);
        //});

        window.onload = function () {
            geocodeAddress(geocoder, map);
        };


        marker = new google.maps.Marker({
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            position: { lat: 59.327, lng: 18.067 }
        });
        marker.addListener('click', toggleBounce);





    }

    function geocodeAddress(geocoder, resultsMap) {
        var endereco = document.getElementById("Endereco").value;
        var bairro = document.getElementById('Bairro').value;
        var cidade = document.getElementById('Cidade').value;
        var uf = document.getElementById('UF').value;

        var address = endereco + " " + bairro + " " + cidade + " " + uf;

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
                document.getElementById('Latitude').value = results[0].geometry.location.lat(); 
                document.getElementById('Longitude').value = results[0].geometry.location.lng();
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7dPj-4T7wZx50yKD9jxVsCLnTCCqVtwY&callback=initMap" async defer></script>




<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Funcionarios Alocados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h5 class="text-info">Carmen Miranda</h5>
                    <span class="text-info">Inicio: 10/Out/2018</span>
                </div>
                <br />
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Segunda</th>
                            <th scope="col">Quarta</th>
                            <th scope="col">Sexta</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10:00-15:00</td>
                            <td>10:00-15:00</td>
                            <td>10:00-15:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>






<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>





