﻿    

@model Centroserv.ViewModels.ClientesIndexViewModel

@{

    Layout = "~/Views/Shared/_Layout_main.cshtml";
    ViewBag.Title = "Clientes Page";
}


<h2 class="grey-text text-info text-center">Clientes</h2>
<a asp-action="Create" asp-controller="Clientes" class="btn btn-info">Adicionar Cliente</a>

<table id="tableClientes" class="table table-sm table-hover ">
    <thead>
        <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Cliente</th>
            <th scope="col">Endereco</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Clientes)
        {
            <tr>
                <td>@x.Tipo</td>
                <td>@x.Alias</td>
                <td>@(x.Endereco + ", " + x.Bairro)</td>
                <td>
                    <a asp-action="Edit" asp-controller="Clientes" asp-route-id="@x.Id" class="text-info">Editar</a> <span class="text-light"> | </span>
                    <a asp-action="Delete" asp-controller="Clientes" asp-route-id="@x.Id" class="text-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />



<script>
    $(document).ready(function () {
        $('#tableClientes').DataTable({
            "dom": 'frtip',
            columnDefs: [{
                targets: [0, 1, 2, 3],
                className: 'mdl-data-table__cell--non-numeric'
            }]

        });
    });
</script>