﻿@using Centroserv.Models.ValoresPadroes

@model Centroserv.ViewModels.GradeIndexViewModel;

@{
    ViewData["Title"] = "Edit";
}


<h3 class="text-secondary d-inline">Editar Horario</h3>
<br />
<br />

<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input class="form-control text-primary" asp-for="gradeSelected.Id" type="hidden">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="text-info" asp-for="gradeSelected.IdFuncionario">Funcionario</label>
                            <select asp-for="gradeSelected.IdFuncionario" class="form-control" asp-items="@(new SelectList(Model.FuncionariosTodos, "Id", "Nome"))"></select>
                        </div>
                        <div class="form-group col-12">
                            <label class="text-info" asp-for="gradeSelected.IdCliente">Cliente</label>
                            <select asp-for="gradeSelected.IdCliente" class="form-control" asp-items="@(new SelectList(Model.ClientesTodos, "Id", "Alias"))"></select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="text-info" asp-for="gradeSelected.Dia">Dia</label>
                            <select asp-for="gradeSelected.Dia" class="form-control" asp-items="@Html.GetEnumSelectList<DiasGrade>()"></select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="text-info" asp-for="gradeSelected.Entrada">Hora Entrada</label>
                            <input class="form-control text-primary txtHorario" asp-for="gradeSelected.Entrada">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="text-info" asp-for="gradeSelected.Saida">Hora Saida</label>
                            <input class="form-control text-danger txtHorario" asp-for="gradeSelected.Saida">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-2 bg-light border border-info">
            <div class="row">
                <div class="col-md-12" style="padding-top:30px">
                    <h5 class="text-center text-info">Historico</h5>
                    <div class="form-group">
                        <label class="text-info" asp-for="gradeSelected.Inicio">Inicio</label>
                        <input class="form-control txtData" type="text" asp-for="gradeSelected.Inicio" />
                        <label class="text-info" asp-for="gradeSelected.Fim">Valido Ate</label>
                        <input class="form-control txtData" asp-for="gradeSelected.Fim" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-9">
        <hr />
    </div>
    <div class="row col-md-9">
        <div class="col-md-4">
            <input type="submit" value="Salvar Horario" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-link" />Exibir Grade</a>
        </div>
        <div class="col text-right">
            @*<a asp-action="Del" asp-route-id="@Model.gradeSelected.Id" class="btn btn-danger" />Excluir</a>*@
            <a href="#" data-target="#ConfirmaModal" data-toggle="modal" class="btn btn-danger" />Excluir</a>
        </div>
    </div>
</form>



<div class="modal fade" id="ConfirmaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.gradeSelected.Clientes.Razao</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-primary">
                    <span class="text-dark">Confirma a exclusao?</span><br />
                    @(Model.gradeSelected.Dia + ", das " + @Model.gradeSelected.Entrada + " as " + Model.gradeSelected.Saida)

                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nao</button>
                <a asp-action="Del" asp-route-id="@Model.gradeSelected.Id" class="btn btn-danger">Sim</a>
            </div>
        </div>
    </div>
</div>





