﻿@using Centroserv.ViewModels
@using Centroserv.Models.ValoresPadroes
@using Centroserv.Models;

@model GradeIndexViewModel

@{
    ViewData["Title"] = "Grade de Horarios";
}

<h2 class="text-info text-center">Grade de Horarios</h2>

<br />

<table id="TableGrade" class="table table-hover table-sm table-bordered">
    <thead>
        <tr>
            <th class="text-center">Cliente</th>
            <th class="text-center">Funcionario</th>
            <th class="text-center">Segunda</th>
            <th class="text-center">Terca</th>
            <th class="text-center">Quarta</th>
            <th class="text-center">Quinta</th>
            <th class="text-center">Sexta</th>
            <th class="text-center">Sabado</th>
            <th class="text-center">Domingo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var y in Model.GradeClientesUnico)
        {
            <tr>
                @{
                    foreach (var x in y)
                    {
                        <td><a class="text-secondary" asp-action="edit" asp-controller="Clientes" asp-route-id="@x.Clientes.Id">@x.Clientes.Alias</a></td>
                        <td><a class="text-secondary" asp-action="edit" asp-controller="Funcionarios" asp-route-id="@x.Funcionarios.Id">@x.Funcionarios.Alias</a></td>
                        break;
                    }

                    List<Grade> gradeLista = new List<Grade>();
                    foreach (var x in y)
                    {
                        gradeLista.Add(x);
                    }

                    for (int i = 1; i < 8; i++)
                    {
                        <td class="text-center">
                            @{
                                DiasGrade posicao = DiasGrade.Segunda;
                                switch (i)
                                {
                                    case 1:
                                        posicao = DiasGrade.Segunda;
                                        break;
                                    case 2:
                                        posicao = DiasGrade.Terca;
                                        break;
                                    case 3:
                                        posicao = DiasGrade.Quarta;
                                        break;
                                    case 4:
                                        posicao = DiasGrade.Quinta;
                                        break;
                                    case 5:
                                        posicao = DiasGrade.Sexta;
                                        break;
                                    case 6:
                                        posicao = DiasGrade.Sabado;
                                        break;
                                    case 7:
                                        posicao = DiasGrade.Domingo;
                                        break;

                                }
                                var horario = gradeLista.Where(e => e.Dia == posicao);
                                foreach (var x in horario)
                                {
                                    <a asp-action="Edit" asp-route-id="@x.Id" style="@(x.Clientes.Tipo == TipoEstabelecimento.Comercial ? "background-color:lightyellow" : "background-color:")">
                                        <span class="@(string.IsNullOrEmpty(x.Fim) == true ? "text-primary" : "text-secondary")">@x.Entrada</span>
                                        <span>-</span>
                                        <span class="@(string.IsNullOrEmpty(x.Fim) == true ? "text-danger" : "text-secondary")">@x.Saida</span>
                                    </a><br />;
                                }

                            }
                        </td>
                    }
                }
            </tr>
        }


    </tbody>
</table>
<br />
<button id="btnAtivaModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalNovoHorario">Adicionar Horario</button>



<!-- Modal -->
<div class="modal fade" id="ModalNovoHorario" tabindex="-1" role="dialog" aria-labelledby="ModalNovoHorarioTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="Create" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Adicionar Horario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="text-info" asp-for="gradeSelected.IdFuncionario">Funcionario</label>
                            <select asp-for="gradeSelected.IdFuncionario" class="form-control" asp-items="@(new SelectList(Model.FuncionariosTodos, "Id", "Nome"))"></select>
                        </div>
                        <div class="form-group col-md-5">
                            <label class="text-info" asp-for="gradeSelected.IdCliente">Cliente</label>
                            <select asp-for="gradeSelected.IdCliente" class="form-control" asp-items="@(new SelectList(Model.ClientesTodos, "Id", "Alias"))"></select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="text-info" asp-for="gradeSelected.Dia">Dia</label>
                            <select asp-for="gradeSelected.Dia" class="form-control" asp-items="@Html.GetEnumSelectList<DiasGrade>()"></select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="text-info" asp-for="gradeSelected.Entrada">Hora Entrada</label>
                            <input class="form-control text-primary txtHorario" asp-for="gradeSelected.Entrada">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="text-info" asp-for="gradeSelected.Saida">Hora Saida</label>
                            <input class="form-control text-danger txtHorario" asp-for="gradeSelected.Saida">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-primary" value="Salvar Horario">
                </div>
            </form>

        </div>
    </div>
</div>






<script>
        $(document).ready(function () {
            $('#TableGrade').DataTable({
                "dom": 'frtip',
                columnDefs: [{
                    targets: [0, 1, 2, 3],
                    className: 'mdl-data-table__cell--non-numeric'
                }],
                "language": {
                    "search": "Buscar:"
                }

            });
        });
    </script>


