﻿
@using Centroserv.ViewModels
@using Centroserv.Models.ValoresPadroes


@model FuncionariosEditViewModel

<h2>Novo Funcionario</h2>

<br />
<form method="post">
    <div class="row text-info">
        <div class="col-lg-6">
            <div class="row ">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label asp-for="Nome"></label>
                        <input type="text" asp-for="Nome" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="Alias"></label>
                        <input type="text" asp-for="Alias" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Cargo"></label>
                        <select asp-for="Cargo" class="form-control" asp-items="@Html.GetEnumSelectList<CargoFuncionario>()"></select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Status"></label>
                        <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<StatusFuncionario>()"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Endereco"></label>
                <input type="text" asp-for="Endereco" class="form-control" />
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="Bairro"></label>
                        <input type="text" asp-for="Bairro" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="Cidade"></label>
                        <input type="text" asp-for="Cidade" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="UF"></label>
                        <input type="text" asp-for="UF" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Fone"></label>
                        <input type="text" asp-for="Fone" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Celular"></label>
                        <input type="text" asp-for="Celular" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="IndicadaPor"></label>
                        <input type="text" asp-for="IndicadaPor" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="Admissao" ></label>
                        <input type="text" asp-for="Admissao" class="txtData text-success form-control" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="Saida"></label>
                        <input type="text" asp-for="Saida" class="txtData text-danger form-control" />
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="Obs"></label>
                        <textarea asp-for="Obs" class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ContatoEmergencia"></label>
                        <input type="text" asp-for="ContatoEmergencia" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ContatoEmergenciaCelular"></label>
                        <input type="text" asp-for="ContatoEmergenciaCelular" class="form-control" />
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 ">
            <div class="row ">
                <div class="col-lg-9 bg-light border border-info" style="padding-top:10px">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Segunda"></label>
                                        <input asp-for="Segunda" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Terca"></label>
                                        <input asp-for="Terca" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Quarta"></label>
                                        <input asp-for="Quarta" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Quinta"></label>
                                        <input asp-for="Quinta" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Sexta"></label>
                                        <input asp-for="Sexta" class="form-control" />
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Sabado"></label>
                                        <input asp-for="Sabado" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Domingo"></label>
                                        <input asp-for="Domingo" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                            <p>teste</p>
                            <p>teste</p>
                            <p>teste</p>
                            <p>teste</p>
                            <p>teste</p>
                            <p>teste</p>
                            <p>teste</p>
                            <p>teste</p>

                        </div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Vale Transporte</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Faltas</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Horas Extras</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-6">
            <input type="submit" name="name" value="Gravar" class="btn btn-success" style="width:25%" />
        </div>
        <div class="col-6 text-right">
            <a asp-action="index" class="btn btn-link">Lista de Funcionarios</a>
        </div>

    </div>

</form>
<br />
<br />

