﻿
@using Centroserv.ViewModels
@using Centroserv.Models.ValoresPadroes


@model FuncionariosEditViewModel

<div class="row">

    @{
        if (Model.Fone == null)
        {
            <div class="col-sm-2">
                <span>Adicionar Foto</span>
                <input type="file" class="filestyle" />
            </div>

        }
        else
        {
            <div class="col-sm-1 ">
                <img src="@Model.Foto" width="120px" class="rounded-circle" />
            </div>
            <div class="col-lg-5" style="padding-left:50px">
                <br /><br />
                <h2 class="text-info">@Model.Nome</h2>
            </div>
        }

    }


</div>



<br />
<form method="post">
    <div class="row text-info">
        <div class="col-lg-6">
            <div class="row ">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label asp-for="Nome"></label>
                        <input type="text" asp-for="Nome" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="Alias"></label>
                        <input type="text" asp-for="Alias" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Cargo"></label>
                        <select asp-for="Cargo" class="form-control" asp-items="@Html.GetEnumSelectList<CargoFuncionario>()"></select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Status"></label>
                        <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<StatusFuncionario>()"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Endereco"></label>
                <input type="text" asp-for="Endereco" class="form-control" />
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="Bairro"></label>
                        <input type="text" asp-for="Bairro" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="Cidade"></label>
                        <input type="text" asp-for="Cidade" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="UF"></label>
                        <input type="text" asp-for="UF" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Fone"></label>
                        <input type="text" asp-for="Fone" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Celular"></label>
                        <input type="text" asp-for="Celular" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="IndicadaPor"></label>
                        <input type="text" asp-for="IndicadaPor" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="Admissao"></label>
                        <input type="text" asp-for="Admissao" class="txtData text-success form-control" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="Saida"></label>
                        <input type="text" asp-for="Saida" class="txtData text-danger form-control" />
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="Obs"></label>
                        <textarea asp-for="Obs" class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ContatoEmergencia"></label>
                        <input type="text" asp-for="ContatoEmergencia" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ContatoEmergenciaCelular"></label>
                        <input type="text" asp-for="ContatoEmergenciaCelular" class="form-control" />
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 ">
            <div class="row ">
                <div class="col-lg-9 bg-light border border-info" style="padding-top:10px">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Segunda"></label>
                                        <input asp-for="Segunda" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Terca"></label>
                                        <input asp-for="Terca" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Quarta"></label>
                                        <input asp-for="Quarta" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Quinta"></label>
                                        <input asp-for="Quinta" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Sexta"></label>
                                        <input asp-for="Sexta" class="form-control" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Sabado"></label>
                                        <input asp-for="Sabado" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Domingo"></label>
                                        <input asp-for="Domingo" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                            <table class="table-responsive table table-hover table-sm">
                                <tr>
                                    <th class="text-secondary" width="15%">Data</th>
                                    <th class="text-secondary" width="80%">Motivo</th>
                                    <th class="text-secondary" width="15%"></th>
                                </tr>
                                @foreach (var item in Model.Faltas)
                                {
                                    <tr>
                                        <td class="text-secondary"><small>@item.Data</small> </td>
                                        <td>@item.ObsFalta</td>
                                        <td><a asp-action="delete" asp-controller="Faltas" asp-route-id="@item.Id" asp-route-idfuncionario="@Model.Id" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a></td>
                                    </tr>
                                }
                            </table>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" data-target="#ConfirmaModal" data-toggle="modal" class="btn btn-primary" />Adicionar Falta</a>
                                </div>
                            </div>
                            <br />


                        </div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                            <table class="table-responsive table table-hover table-sm">
                                <tr>
                                    <th class="text-secondary" width="15%">Data</th>
                                    <th class="text-secondary" width="25%">Local</th>
                                    <th class="text-secondary" width="10%">Horas</th>
                                    <th class="text-secondary" width="40%">Descricao</th>
                                    <th class="text-secondary" width="10%"></th>
                                </tr>
                                @foreach (var item in Model.HorasExtras)
                                {
                                    <tr>
                                        <td class="text-secondary"><small>@item.Data</small> </td>
                                        <td>@item.Cliente.Alias</td>
                                        <td>@item.TotalHoras</td>
                                        <td>@item.ObsHoraExtra</td>
                                        <td><a asp-action="delete" asp-controller="Horasextras" asp-route-id="@item.Id" asp-route-idfuncionario="@Model.Id" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a></td>
                                    </tr>
                                }
                            </table>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" data-target="#ConfirmaModalHE" data-toggle="modal" class="btn btn-primary" />Adicionar Hora Extra</a>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Vale Transporte</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Faltas</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Horas Extras</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-6">
            <input type="submit" name="name" value="Gravar" class="btn btn-success" style="width:25%" />
        </div>
        <div class="col-6 text-right">
            <a asp-action="index" class="btn btn-link">Lista de Funcionarios</a>
        </div>

    </div>

</form>
<br />
<br />

<!-- Modal -->
<div class="modal fade" id="ConfirmaModal" tabindex="-1" role="dialog" aria-labelledby="ModalNovoHorarioTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="Create" asp-controller="Faltas" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Adicionar Falta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="hidden" class="form-control text-primary" name="IdFuncionario" id="IdFuncionario" value="@Model.Id">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="text-info" asp-for="Data">Dia</label>
                                <input class="form-control text-primary txtData" asp-for="Data">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="text-info" asp-for="ObsFalta">Descricao da Falta</label>
                                <textarea class="form-control text-primary" rows="10" asp-for="ObsFalta" placeholder="Ex. Apresentou atestado? Usou VT? Quais eram os Clientes?"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-primary" value="Gravar Falta">
                </div>
            </form>

        </div>
    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="ConfirmaModalHE" tabindex="-1" role="dialog" aria-labelledby="ModalNovoHorarioTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="Create" asp-controller="HorasExtras" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Adicionar Hora Extra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="hidden" class="form-control text-primary" name="IdFuncionario" id="IdFuncionario" value="@Model.Id">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="hidden" class="form-control text-primary" name="IdFuncionario" id="IdFuncionario" value="@Model.Id">
                                <label class="text-info" asp-for="Data">Dia</label>
                                <input class="form-control text-primary txtData" asp-for="Data">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="text-info" asp-for="IdCliente">Cliente</label>
                                <select asp-for="IdCliente" class="form-control" asp-items="@(new SelectList(Model.ClientesTodos, "Id", "Alias"))"></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="text-info" asp-for="TotalHoras">Horas</label>
                                <input class="form-control text-primary" asp-for="TotalHoras">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="text-info" asp-for="ObsHoraExtra">Observacao</label>
                                <textarea class="form-control text-primary" rows="5" asp-for="ObsHoraExtra"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-primary" value="Gravar Hora Extra">
                </div>
            </form>

        </div>
    </div>
</div>


