﻿@using Centroserv.ViewModels;
@using Centroserv.Models.ValoresPadroes;
@model FuncionariosIndexViewModel;


@{
    //Layout = "~/Views/Shared/_Layout_main.cshtml";

    ViewBag.Title = "Funcionarios Page";
}

<div class="row">
    <div class="col-12 text-info text-center"><h2>Funcionarios</h2></div>
</div>
<a asp-action="Create" class="btn btn-info">Adicionar Funcionario</a>

<br />

<table id="tableFuncionarios" class="table table-sm table-hover ">
    <thead>
        <tr>
            <th></th>
            <th>Status</th>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Celular</th>
            <th>Fone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Funcionarios)
        {
            <tr>
                <td>
                    <img src="@x.Foto" width="60px" class="rounded-circle"  />
                </td>
                <td class="@(x.Status == StatusFuncionario.Contratado ? "text-success" : "text-danger ")">@x.Status</td>
                <td>
                    @x.Nome
                </td>
                <td>@x.Cargo</td>
                <td>@x.Celular</td>
                <td>@x.Fone</td>
                <td>
                    <a asp-action="Edit" asp-controller="Funcionarios" asp-route-id="@x.Id" class="btn btn-outline-info">Editar</a>
                    <a asp-action="Delete" asp-controller="Funcionarios" asp-route-id="@x.Id" class="btn  btn-outline-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>


</table>
<br />


<script>
    $(document).ready(function () {
        $('#tableFuncionarios').DataTable({
            "dom": 'frtip',
            columnDefs: [{
                targets: [0, 1, 2, 3],
                className: 'mdl-data-table__cell--non-numeric'
            }]

        });
    });
</script>