﻿
@using Centroserv.ViewModels
@model Centroserv.ViewModels.AgendaIndexViewModel;

@{
    Layout = "~/Views/Shared/_Layout_main.cshtml";
    ViewBag.Title = "Agenda";
}


@*previne place holder dd/mm/yyyy nos campos data *@
<style>
    input[type=date]:required:invalid::-webkit-datetime-edit {
        color: transparent;
    }

    input[type=date]:focus::-webkit-datetime-edit {
        color: black !important;
    }
</style>


<h2 id="TituloTarefas" style="padding:5px;" class="text-secondary text-center">Agenda do Dia <span class="text-info">@ViewBag.data</span></h2>

<div class="row ">
    <div class="col-lg-3">
        <div class="container">
            <div id="v-cal">
                <div class="vcal-header">
                    <button class="vcal-btn" data-calendar-toggle="previous">
                        <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                        </svg>
                    </button>

                    <div class="vcal-header__label" data-calendar-label="month">
                        March 2017
                    </div>


                    <button class="vcal-btn" data-calendar-toggle="next">
                        <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                        </svg>
                    </button>
                </div>
                <div class="vcal-week">
                    <span>Seg</span>
                    <span>Ter</span>
                    <span>Qua</span>
                    <span>Qui</span>
                    <span>Sex</span>
                    <span>Sab</span>
                    <span>Dom</span>
                </div>
                <div class="vcal-body" data-calendar-area="month"></div>
            </div>


        </div>
    </div>
    <div class="col-lg-4 center-align" style="padding-top:20px;margin-right:10px">
        <div class="card">
            <div class="card-header lead text-center text-light" style="background-color:cadetblue">
                <div class="row ">

                    <div class="col-lg" style="font-size:1.1em;"><a style="color:white" asp-action="index" asp-controller="entregas">Entregas</a></div>
                    @*<div class="col-lg-2">
                            <i class="fas fa-calendar-plus text-white"></i>
                        </div>*@
                </div>
            </div>
            <div class="card-body" id="divEntregas">
                <div class="text-right">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#ModalMaterial">Agendar Entrega</button>
                </div>
                @{
                    foreach (var x in Model.Entregas)
                    {
                        @*<span>@x.Obs</span>*@

                        <a asp-action="Edit" asp-controller="Entregas" asp-route-id="@x.IdEntrega">
                            <h5 class="@(x.DataEntrega < DateTime.Now.Date && x.Entregue == false ? "text-danger" : "text-success")" style="@(x.Entregue == true ? "text-decoration: line-through" : "text-decoration: none" )">
                                @x.Cliente.Alias
                            </h5>
                        </a>
                        <table class="table table-sm table-bordered" style="font-size:0.8rem">
                            <tbody>
                                @{
                                    foreach (var i in x.Itens)
                                    {
                                        <tr style="@(x.Entregue == true ? "text-decoration: line-through;color:lightgrey" : "text-decoration: none; colo:#212529" )">
                                            <td>@i.Material.Descricao</td>
                                            <td>@i.Quantidade @i.Material.Unidade</td>
                                        </tr>

                                    }
                                }

                            </tbody>
                        </table>
                        <br />
                                    }
                }

            </div>
        </div>
        <br />
    </div>
    <div class="col-lg-4" style="padding-top:20px;">
        <div class="card">
            <div class="card-header lead text-center text-light" style="background-color:cadetblue">
                <div class="row">
                    <div class="col-lg">Serviços</div>
                </div>
            </div>
            <div class="card-body ">
                <div class="text-right">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#ModalServico">Agendar Serviço</button>
                </div>
                @{
                    foreach (var r in Model.Servicos)
                    {
                        <div class="row" style="padding-top:10px">
                            <div class="col-lg-5">@r.Cliente.Alias </div>
                            <div class="col-lg-4">@r.TipoServico</div>
                            <div class="col-lg-3 text-right">@r.HoraServico.ToString().Substring(0, 5)</div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-lg-12 text-left " style="padding-bottom:10px">
                                <span style="font-size:0.8rem;" class="text-info">@r.Obs</span>
                            </div>
                        </div>

                    }
                }



            </div>
        </div>
    </div>
</div>



<!-- Modal Material-->
<div class="modal fade" id="ModalMaterial" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <partial name="_EntregaIncluir" />
</div>

<!-- Modal Servico -->
<div class="modal fade" id="ModalServico" tabindex="-1" role="dialog" aria-labelledby="TituloModalServico" aria-hidden="true">
    <partial name="_ServicoIncluir" model="Model.Servico" />
</div>


<style>
    /** {
        box-sizing: border-box;

    }

    .autocomplete {
        the container must be positioned relative:
        position: relative;
        display: inline-block;
    }


    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        position the autocomplete items to be the same width as the container:
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
                                               padding: 10px;
                                               cursor: pointer;
                                               background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                when hovering an item:
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        when navigating through the items using the arrow keys:
        background-color: DodgerBlue !important;
        color: #ffffff;
    }*/
</style>







<script src="~/libs/vanillaCalendar.js"></script>


<script>
    window.addEventListener('load', function () {
        vanillaCalendar.init({
            disablePastDays: false
        });
    });
    

</script>



@*<script>
        // AutoComplete
        //var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua &amp; Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia &amp; Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central Arfrican Republic", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cuba", "Curacao", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauro", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre &amp; Miquelon", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "St Kitts &amp; Nevis", "St Lucia", "St Vincent", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L'Este", "Togo", "Tonga", "Trinidad &amp; Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks &amp; Caicos", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States of America", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe"];

        var MateriaisVetor = @{
        <text>[</text>
        foreach (var i in Model.MaterialAll)
        {
            <text>['@i.Descricao', '@i.Unidade', '@i.QtdPadrao', '@i.Id'],</text>
        }
        <text>]</text>

        }

        var ClientesVetor = @{
            <text>[</text>
            foreach (var m in Model.Clientes)
            {
                <text>['@m.Alias','@m.Id'],</text>
            }
            <text>]</text>
        }
    </script>



    <script>
            var material = document.querySelector("#txtMaterial");
            var materialID = document.querySelector("#txtMaterialID");
            var quantidade = document.querySelector("#txtQuantidade");
            var unidade = document.getElementById("txtUnidade");
            var botaoAdd = document.querySelector("#btnAdd");
            var cliente = document.querySelector('#txtCliente');

            function AdicionaItem(e) {

                if (!(material.value && materialID.value)) {
                    material.focus();
                    return false;
                }
                // Cria Descricao Material
                var node_material = document.createElement("input");
                node_material.value = material.value;
                node_material.setAttribute("id", "itemMaterial");
                node_material.setAttribute("name", "itemMaterial");
                node_material.setAttribute("type", "hidden");

                // Cria Quantidade
                var node_qtd = document.createElement("input");
                node_qtd.value = quantidade.value;
                node_qtd.setAttribute("id", "itemQuantidade");
                node_qtd.setAttribute("name", "itemQuantidade");
                node_qtd.setAttribute("type", "hidden");

                // Cria ID Material
                var node_materialID = document.createElement("input");
                node_materialID.setAttribute("id", "itemID");
                node_materialID.setAttribute("name", "itemID");
                node_materialID.value = materialID.value;
                node_materialID.setAttribute("type", "hidden");

                // Cria Button para excluir
                var node_button = document.createElement("i");
                node_button.classList.add("far");
                node_button.classList.add("fa-trash-alt");
                node_button.classList.add("text-danger");
                node_button.setAttribute("id", "btnExcluir");


                // Cria Span com QTD
                var node_span = document.createElement("span");
                node_span.setAttribute("name", "spanQts");
                node_span.classList.add("badge");
                node_span.classList.add("badge-success");
                node_span.classList.add("badge-pill");
                node_span.innerText = quantidade.value + " " + unidade.value;

                var node_lista_item = document.createElement("li")
                node_lista_item.setAttribute("id", "LI_Itens");
                node_lista_item.innerText = material.value + " ";
                node_lista_item.appendChild(node_span);
                node_lista_item.appendChild(document.createTextNode('\u00A0\u00A0')); // Adiciona espaco em branco logo apos do SPAN
                node_lista_item.appendChild(node_button);

                node_lista_item.appendChild(node_materialID);
                node_lista_item.appendChild(node_material);
                node_lista_item.appendChild(node_qtd);

                //var TextNode = document.createTextNode(material.value);
                //node.appendChild(TextNode);

                //document.querySelector("#entregas_div").appendChild(node_materialID);
                //document.querySelector("#entregas_div").appendChild(node_material);
                //document.querySelector("#entregas_div").appendChild(node_qtd);
                //document.querySelector("#entregas_div").appendChild(document.createElement("br"));
                document.querySelector("#entregas_lista").appendChild(node_lista_item);

                // Zera campos apos adicionar material
                botaoAdd.classList.add("d-none");
                document.querySelector("#txtMaterial").value = "";
                document.querySelector("#txtMaterialID").value = "";
                document.querySelector("#txtQuantidade").value = "";
                document.getElementById("txtUnidade").value = "";
                document.querySelector("#txtMaterial").focus();

                //Adiciona Event Listener no BTN Exlcuir
                node_button.addEventListener('click', function (e) {
                    console.log(e.target.parentNode.remove());

                });
            }

            function autocomplete(inp, arr) {
                /*the autocomplete function takes two arguments,
                the text field element and an array of possible autocompleted values:*/
                var currentFocus;
                /*execute a function when someone writes in the text field:*/
                let vetorMateriais = arr;
                inp.addEventListener("input", function (e) {
                    var a, b, i, val = this.value;
                    /*close any already open lists of autocompleted values*/
                    closeAllLists();
                    if (!val) { return false; }
                    currentFocus = -1;
                    /*create a DIV element that will contain the items (values):*/
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    /*append the DIV element as a child of the autocomplete container:*/
                    this.parentNode.appendChild(a);
                    /*for each item in the array...*/
                    for (i = 0; i < arr.length; i++) {
                        /*check if the item starts with the same letters as the text field value:*/
                        if (arr[i][0].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                            /*create a DIV element for each matching element:*/
                            b = document.createElement("DIV");
                            /*make the matching letters bold:*/
                            b.innerHTML = "<strong>" + arr[i][0].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i][0].substr(val.length);
                            /*insert a input field that will hold the current array item's value (descrição):*/
                            b.innerHTML += "<input type='hidden' value='" + arr[i][0] + "'>";
                            /*execute a function when someone clicks on the item value (DIV element):*/
                            b.addEventListener("click", function (e) {
                                /*insert the value for the autocomplete text field:*/
                                material.value = this.getElementsByTagName("input")[0].value;
                                /* Pesquisa no array de materiais a UNIDADE e QUANTIDADE PADRAO*/
                                vetorMateriais.forEach(function (entry) {
                                    if (entry[0] == material.value) {
                                        unidade.value = entry[1]
                                        quantidade.value = entry[2]; // posição para QUANTIDADE PADRAO
                                        materialID.value = entry[3];
                                        botaoAdd.classList.remove("d-none");


                                    }
                                });

                                /*close the list of autocompleted values,
                                (or any other open lists of autocompleted values:*/
                                closeAllLists();
                            });
                            a.appendChild(b);
                        }
                    }
                });
                /*execute a function presses a key on the keyboard:*/
                inp.addEventListener("keydown", function (e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {
                        /*If the arrow DOWN key is pressed,
                        increase the currentFocus variable:*/
                        currentFocus++;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 38) { //up
                        /*If the arrow UP key is pressed,
                        decrease the currentFocus variable:*/
                        currentFocus--;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 13) {
                        /*If the ENTER key is pressed, prevent the form from being submitted,*/
                        e.preventDefault();
                        if (currentFocus > -1) {
                            /*and simulate a click on the "active" item:*/
                            if (x) x[currentFocus].click();
                        }
                    }
                });
                function addActive(x) {
                    /*a function to classify an item as "active":*/
                    if (!x) return false;
                    /*start by removing the "active" class on all items:*/
                    removeActive(x);
                    if (currentFocus >= x.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus = (x.length - 1);
                    /*add class "autocomplete-active":*/
                    x[currentFocus].classList.add("autocomplete-active");
                }
                function removeActive(x) {
                    /*a function to remove the "active" class from all autocomplete items:*/
                    for (var i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                    }
                }
                function closeAllLists(elmnt) {
                    /*close all autocomplete lists in the document,
                    except the one passed as an argument:*/
                    var x = document.getElementsByClassName("autocomplete-items");
                    for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != inp) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                }
                /*execute a function when someone clicks in the document:*/
                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
            }





            function autocompleteClientes(inp, arr) {
                /*the autocomplete function takes two arguments,
                the text field element and an array of possible autocompleted values:*/
                var currentFocusCliente;
                /*execute a function when someone writes in the text field:*/
                let vetorClientes = arr;
                inp.addEventListener("input", function (e) {
                    let a, b, i, val = this.value;
                    /*close any already open lists of autocompleted values*/
                    closeAllLists();
                    if (!val) { return false; }
                    currentFocusCliente = -1;
                    /*create a DIV element that will contain the items (values):*/
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    /*append the DIV element as a child of the autocomplete container:*/
                    this.parentNode.appendChild(a);
                    /*for each item in the array...*/
                    for (i = 0; i < arr.length; i++) {
                        /*check if the item starts with the same letters as the text field value:*/
                        if (arr[i][0].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                            /*create a DIV element for each matching element:*/
                            b = document.createElement("DIV");
                            /*make the matching letters bold:*/
                            b.innerHTML = "<strong>" + arr[i][0].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i][0].substr(val.length);
                            /*insert a input field that will hold the current array item's value (descrição):*/
                            b.innerHTML += "<input type='hidden' value='" + arr[i][0] + "'>";
                            /*execute a function when someone clicks on the item value (DIV element):*/
                            b.addEventListener("click", function (e) {
                                /*insert the value for the autocomplete text field:*/
                                cliente.value = this.getElementsByTagName("input")[0].value;
                                /* Pesquisa no array de materiais a UNIDADE e QUANTIDADE PADRAO*/
                                vetorClientes.forEach(function (entry) {
                                    if (entry[0] == cliente.value) {
                                        document.querySelector('#txtClienteID').value = entry[1]
                                    }
                                });

                                /*close the list of autocompleted values,
                                (or any other open lists of autocompleted values:*/
                                closeAllLists();
                            });
                            a.appendChild(b);
                        }
                    }
                });
                /*execute a function presses a key on the keyboard:*/
                inp.addEventListener("keydown", function (e) {
                    let x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {
                        /*If the arrow DOWN key is pressed,
                        increase the currentFocusCliente variable:*/
                        currentFocusCliente++;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 38) { //up
                        /*If the arrow UP key is pressed,
                        decrease the currentFocusCliente variable:*/
                        currentFocusCliente--;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 13) {
                        /*If the ENTER key is pressed, prevent the form from being submitted,*/
                        e.preventDefault();
                        if (currentFocusCliente > -1) {
                            /*and simulate a click on the "active" item:*/
                            if (x) x[currentFocusCliente].click();
                        }
                    }
                });
                function addActive(x) {
                    /*a function to classify an item as "active":*/
                    if (!x) return false;
                    /*start by removing the "active" class on all items:*/
                    removeActive(x);
                    if (currentFocusCliente >= x.length) currentFocusCliente = 0;
                    if (currentFocusCliente < 0) currentFocusCliente = (x.length - 1);
                    /*add class "autocomplete-active":*/
                    x[currentFocusCliente].classList.add("autocomplete-active");
                }
                function removeActive(x) {
                    /*a function to remove the "active" class from all autocomplete items:*/
                    for (var i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                    }
                }
                function closeAllLists(elmnt) {
                    /*close all autocomplete lists in the document,
                    except the one passed as an argument:*/
                    let x = document.getElementsByClassName("autocomplete-items");
                    for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != inp) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                }
                /*execute a function when someone clicks in the document:*/
                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
            }



            autocompleteClientes(cliente, ClientesVetor);
            autocomplete(material, MateriaisVetor);

    </script>*@

