﻿@*
    Modal generico para exlusao de registros
    <a class="btn btn-link text-danger" data-toggle="modal" data-target="#modalExclui" data-idRegistro="@item.IdEntrega" data-descricaoRegistro="@item.Cliente.Alias" data-nomeController="Entregas">
             Excluir
    </a>

*@


<!-- Modal -->
<div class="modal fade" id="modalExclui" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirma Exclusao</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirma exclusao de <span class="text-danger" id="parametro_exclusao"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form method="post" name="formDelete">
                    <input type="text" class="btn btn-danger" value="" name="txtIdToDelete" hidden>
                    <input type="submit" class="btn btn-danger" value="Sim! Pode Exlcuir">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#modalExclui').on('show.bs.modal', function (e) {

        //get data-id attribute of the clicked element
        var tempMessage = $(e.relatedTarget).data('descricaoregistro');
        var tempId = $(e.relatedTarget).data('idregistro');
        var tempControler = $(e.relatedTarget).data('nomecontroller');


        var tempAction = "/" + tempControler + "/Delete/";
        //populate the textbox
        $("#parametro_exclusao").text(tempMessage);
        $(e.currentTarget).find('input[name="txtIdToDelete"]').val(tempId);
        $(e.currentTarget).find('form[name="formDelete"]').attr('action', tempAction);
    });
</script>