﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<form asp-action="create" asp-controller="entregas" method="post">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Agendar Entrega de Material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="dataEntrega">Usuário</label>
                            <input class="form-control" name="txtResponsavel" id="txtResponsavel" style="opacity:0.6"
                                   value="@(User.Identity.IsAuthenticated ? User.Claims.FirstOrDefault(e => e.Type == "name").Value : "")"
                                   disabled />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="dataEntrega">Previsão Entrega</label>
                            <input class="form-control" name="dataEntrega" value="" type="date" id="idDataEntrega" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtCliente">Cliente</label>
                    <div class="autocomplete">
                        <input class="form-control" name="txtCliente" value="" id="txtCliente" />
                        <input class="" name="txtClienteID" id="txtClienteID" hidden />
                    </div>
                </div>



                <div class="form-group">
                    <label for="txtObservacao">Observacao</label>
                    <textarea class="form-control" name="txtObservacao" value="" type="date" id="idObesrvacao"></textarea>
                </div>
                <hr />
                <div class="row" style="background-color:#f3f3f3; padding-top:2%;">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="idDataEntrega">Material</label>
                            <div class="autocomplete">
                                <input class="form-control form-control-sm" name="txtMaterial" id="txtMaterial" placeholder="Digite o material...." />
                                <input class="form-control form-control-sm" name="txtMaterialID" id="txtMaterialID" placeholder="txtMaterialID" disabled hidden />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="idDataEntrega">Quantidade</label>
                            <input class="form-control form-control-sm" name="txtQuantidade" value="" placeholder="Digite qtd..." id="txtQuantidade" />
                            <input class="form-control form-control-sm" name="txtValorUnitario" value="" placeholder="" id="txtValorUnitario" hidden />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="idUnidade">Unidade</label>
                            <input class="form-control form-control-sm" name="txtUnidade" value="" id="txtUnidade" disabled />
                        </div>
                    </div>
                    <div class="col-lg-1 align-self-center">
                        <div class="form-group">
                            <label for="btnAdd"></label>
                            <button class="btn btn-info btn-sm" onclick="AdicionaItem()" type="button" name="btnAdd" id="btnAdd">Adicionar</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="container">
                        <ul id="entregas_lista"></ul>
                    </div>
                </div>
                <div class="row">
                    <div id="entregas_div" class="container">

                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar Entrega</button>
            </div>
        </div>
    </div>
</form>


<style>
    * {
        box-sizing: border-box;
    }

    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        /*display: inline-block;*/
    }


    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>


<script>
    var MateriaisVetor = @{
        <text>[</text>
        foreach (var i in Model.MaterialAll){
            <text>['@i.Descricao', '@i.Unidade', '@i.QtdPadrao', '@i.Id', '@i.ValorUnitario'],</text>
        }
        <text>]</text>
    }

    var ClientesVetor = @{
        <text>[</text>
        foreach(var m in Model.Clientes){
            <text>['@m.Alias','@m.Id'],</text>
        }
        <text>]</text>
    }

</script>
<script src="~/EntregasCreate.js"></script>
