﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    @*<link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @*<script language="JavaScript" src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>*@
    @*<script language="JavaScript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>*@
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://digitalbush.com/wp-content/uploads/2013/01/jquery.maskedinput-1.3.1.min_.js"></script>


    @*<link rel="stylesheet" href="style.css" />
        <script src="script.js"></script>*@
    <script type="text/javascript" src="/libs/bootstrap-filestyle.min.js"></script>
    <link href="/libs/vanillaCalendar.css" rel="stylesheet">

</head>
<body style="width:99%">
    <div class="row">
        <div class="col-12 text-right" style="margin-top:20px">
            @{if (User.Identity.IsAuthenticated)
                {
                    <form method="post" asp-controller="Security" asp-action="Logout">
                        Ola @User.Claims.FirstOrDefault(e => e.Type == "name").Value
                        <button type="submit" class="btn btn-info">Logout</button>
                    </form>
                    @*@foreach (var x in User.Claims.Where(e => e.Type.ToString() == "groups"))
                    {
                        @x.Value<h5>@x.Type</h5><br />
                    }*@
              

                }
                else
                {
                    <form method="post" asp-controller="Security" asp-action="Login">
                        <button type="submit" class="btn btn-link">Login</button>
                    </form>
                    }
                }
        </div>

    </div>

   
        <br />
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Clientes" class="nav-link ">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Imobiliarias" class="nav-link text-secondary">Imobiliarias</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatorios</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Material de Limpeza</a>
                            <a class="dropdown-item" href="#">Grade de Horarios</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuracao</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Material" asp-action="Index">Material de Limpeza</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Usuarios</a>
                        </div>
                    </li>


                    @*<li class="nav-item">
                            <a asp-action="Index" asp-controller="Clientes" class="list-group-item list-group-item-action">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Funcionarios" class="list-group-item list-group-item-action">Funcionarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Horarios</a>
                        </li>
                    *@

                </ul>

            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-2 grey darken-3" style="height:100vh">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active btn-secondary">
                        Menu
                    </a>
                    <a asp-action="Index" asp-controller="agenda" asp-route-id="" class="list-group-item list-group-item-action"><i style="width:30px" class="far fa-calendar-alt "></i> Agenda</a>
                    <a asp-action="Index" asp-controller="despesas" class="list-group-item list-group-item-action"><i style="width:30px" class="fas fa-dollar-sign "></i> Despesas</a>
                    <a asp-action="Index" asp-controller="clientes" class="list-group-item list-group-item-action"><i style="width:30px" class="far fa-building "></i> Clientes</a>
                    <a asp-action="Index" asp-controller="funcionarios" class="list-group-item list-group-item-action"><i style="width:30px" class="fas fa-users "></i> Funcionarios</a>
                    <a asp-action="Index" asp-controller="grade" class="list-group-item list-group-item-action"><i style="width:30px" class="far fa-clock "></i> Horarios</a>
                </div>
            </div>
            <div class="col-10">
                @RenderBody()
            </div>
        </div>





        <script>
            //$(document).ready(function () {
            //    $('.dropdown-toggle').dropdown();
            //});
            $('.txtHorario').mask('99:99');
            $('.txtData').mask('99/99/9999');
        </script>

    </body>
</html>


