﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    @*<link rel="icon" type="image/x-icon" href="#" />*@
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>




</head>
<body>


    <!-- SITE WRAPPER -->
    <section id="site-wrapper">
        <!-- CANVAS -->
        <section id="site-canvas">
            <!-- MENU -->
            <section id="site-menu">
                <section class="site-menu-content">
                    <a href="#" class="toggle-nav"><i class="fa fa-times"></i></a>
                    <a href="sass.html"><h2>Dashboard</h2></a>
                    <a asp-action="Index" asp-controller="Clientes"><h2>Clientes</h2></a>
                    <a asp-action="Index" asp-controller="Funcionarios"><h2>Funcionarios</h2></a>
                    <a asp-action="Index" asp-controller="Grade"><h2>Horarios</h2></a>
                </section>
            </section>

            <!-- CANVAS CONTENT -->
            <section class="content">
                <!-- MENU TOGGLE -->
                <div class="row">
                    <div class="col-1">
                        <a href="#" class="toggle-nav nav-icon"><i class="fa fa-bars"></i></a>
                    </div>
                    <div class="col-10 text-right" >
                        Ola Marcus Flores <button type="button" class="btn btn-info">Logout</button>
                    </div>
                </div>
                
                <!-- CONTENT -->
                <div class="col s11 ">
                    @RenderBody()
                </div>

            </section> <!-- END CANVAS CONTENT -->
        </section> <!-- END SITE CONTENT -->
    </section> <!-- END WRAPPER -->




    @*<div class="col s12 right-align" style="background-color:#2d5775">
            <span class="white-text" style="padding-right:10px">Ola, Marcus Flores </span>
            <a class="btn orange" href="collapsible.html" style="margin-top:5px;margin-bottom:5px;margin-right:20px">Logout</a>
        </div>
        <div class="row">
            <div class="col s2 grey darken-3" style="height:100vh">
                <ul>
                    <li><a class="white-text btn waves-light waves-effect green" href="sass.html">Dashboard</a></li>
                    <li><a class="white-text btn btn-flat" asp-action="Index" asp-controller="Clientes">Clientes</a></li>
                    <li><a class="white-text btn btn-flat" asp-action="Index" asp-controller="Funcionarios">Funcionarios</a></li>
                    <li><a class="white-text btn btn-flat" href="collapsible.html">Horarios</a></li>
                </ul>
                <br />
                <br />
                <br />
                <h6 class="yellow-text">Configuracao</h6>
                <ul>
                    <li><a class="white-text btn btn-flat" href="collapsible.html">Material</a></li>
                    <li><a class="white-text btn btn-flat" href="collapsible.html">Imobiliarias</a></li>
                    <li><a class="white-text btn btn-flat" href="collapsible.html">Usuarios</a></li>
                </ul>
       </div>*@


</body>
</html>


