﻿<style>
    /*.coluna {
        font-size: 15pt;
        background-color: lightyellow;
    }
    .linha {
        height: 40px;
    }*/
</style>

<h1></h1>


<small class="text-info">Selecione o ano e mes das despesas</small>
<div class="row ">
    <div class="col-lg-1 ">
        <input type="number" name="txtAno" id="txtAno" value="@ViewBag.Ano" class="form-control" style="width:100px" />
    </div>
    <div class="col-lg text-left">
        <a class="btn @(ViewBag.Mes == 1 ? "btn-success" : "btn-info")" href="#" onclick="link('01')">Jan</a>
        <a class="btn @(ViewBag.Mes == 2 ? "btn-success" : "btn-info")" href="#" onclick="link('02')">Fev</a>
        <a class="btn @(ViewBag.Mes == 3 ? "btn-success" : "btn-info")" href="#" onclick="link('03')">Mar</a>
        <a class="btn @(ViewBag.Mes == 4 ? "btn-success" : "btn-info")" href="#" onclick="link('04')">Abr</a>
        <a class="btn @(ViewBag.Mes == 5 ? "btn-success" : "btn-info")" href="#" onclick="link('05')">Mai</a>
        <a class="btn @(ViewBag.Mes == 6 ? "btn-success" : "btn-info")" href="#" onclick="link('06')">Jun</a>
        <a class="btn @(ViewBag.Mes == 7 ? "btn-success" : "btn-info")" href="#" onclick="link('07')">Jul</a>
        <a class="btn @(ViewBag.Mes == 8 ? "btn-success" : "btn-info")" href="#" onclick="link('08')">Ago</a>
        <a class="btn @(ViewBag.Mes == 9 ? "btn-success" : "btn-info")" href="#" onclick="link('09')">Set</a>
        <a class="btn @(ViewBag.Mes == 10 ? "btn-success" : "btn-info")" href="#" onclick="link('10')">Out</a>
        <a class="btn @(ViewBag.Mes == 11 ? "btn-success" : "btn-info")" href="#" onclick="link('11')">Nov</a>
        <a class="btn @(ViewBag.Mes == 12 ? "btn-success" : "btn-info")" " href="#" onclick="link('12')">Dez</a>
        <a class="btn btn-link" href="/despesas">Todos</a>
    </div>
</div>





<script>
    function link(e) {
        console.log(e);
        var ano = document.getElementById("txtAno").value;
        var mes = e;
        var url = window.location.href.split("/despesas")
        window.location.href = url[0] + "/despesas/" + ano + "/" + mes;
    }
</script>