﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Centroserv.Models.ValoresPadroes
@*@model Centroserv.ViewModels.AgendaIndexViewModel;*@
@model Centroserv.ViewModels.ServicoCreateViewModal;

<form asp-action="create" asp-controller="servicos" method="post">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalServico">Agendar Servico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="dataEntrega">Usuário</label>
                            <input class="form-control" name="txtResponsavel" id="txtResponsavel" style="opacity:0.6"
                                   value="@(User.Identity.IsAuthenticated ? User.Claims.FirstOrDefault(e => e.Type == "name").Value : "")"
                                   disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="DataServico"></label>
                            <input asp-for="DataServico" class="form-control" type="date" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="HoraServico"></label>
                            <input class="form-control txtHorario" asp-for="HoraServico" />
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label asp-for="Realizado"></label>
                            <input class="form-control" asp-for="Realizado" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="txtClienteServico">Cliente</label>
                            <partial name="AutoComplete/_AutoCompleteClientes.cshtml" />
                            @*<div class="autocomplete">
                                <input class="form-control" name="txtCliente" value="" id="txtCliente" />
                                <input asp-for="IdCliente" />
                            </div>*@
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="TipoServico"></label>
                            <select asp-for="TipoServico" asp-items="@Html.GetEnumSelectList<TiposServico>()" class="form-control">
                                <option value="-1"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Obs"></label>
                    <textarea class="form-control" asp-for="Obs"></textarea>
                </div>
                <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar Entrega</button>
            </div>
        </div>
    </div>
</form>


@*<style>
    * {
        box-sizing: border-box;
    }

    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        /*display: inline-block;*/
    }


    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>*@


@*<script>
    var ClientesVetor = @{
        <text>[</text>
        foreach(var m in ViewBag.Clientes){
            <text>['@m.Alias','@m.Id'],</text>
        }
        <text>]</text>
    }



var cliente = document.querySelector('#txtCliente');





    function autocompleteClientes2(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocusCliente;
        /*execute a function when someone writes in the text field:*/
        let vetorClientes = arr;
        inp.addEventListener("input", function (e) {
            let a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocusCliente = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i][0].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i][0].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i][0].substr(val.length);
                    /*insert a input field that will hold the current array item's value (descrição):*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i][0] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        cliente.value = this.getElementsByTagName("input")[0].value;
                        /* Pesquisa no array de materiais a UNIDADE e QUANTIDADE PADRAO*/
                        vetorClientes.forEach(function (entry) {
                            if (entry[0] == cliente.value) {
                                document.querySelector('#IdCliente').value = entry[1]
                            }
                        });

                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            let x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocusCliente variable:*/
                currentFocusCliente++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocusCliente variable:*/
                currentFocusCliente--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocusCliente > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocusCliente].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocusCliente >= x.length) currentFocusCliente = 0;
            if (currentFocusCliente < 0) currentFocusCliente = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocusCliente].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            let x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }


if (cliente != null) {
    autocompleteClientes2(cliente, ClientesVetor);
}



</script>*@
