﻿
@using Centroserv.Models
@model Entregas

@{

}


<div class="container">
    <form action="Edit" method="post">
        <div class="row">
            <div class="col-md-6">
                <input asp-for="IdEntrega" class="form-control" hidden/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Solicitado"></label>
                            <input asp-for="Solicitado" asp-format="" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Responsavel"></label>
                            <input asp-for="Responsavel" class="form-control" disabled />

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input asp-for="Cliente.Alias" class="form-control" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DataEntrega"></label>
                            <input asp-for="DataEntrega" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group" style="padding-top:8px">
                            <label> </label>
                            <input asp-for="Entregue" class="form-control checkbox-inline" />
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="form-group">
                            <label>Observação</label>
                            <textarea asp-for="Obs" class="form-control" style="height:10rem"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CustoTotal"></label>
                            <input asp-for="CustoTotal" class="form-control" />
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5" style="background-color: ghostwhite; padding-top:20px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="autocomplete">
                            <input class="form-control form-control-sm" name="txtMaterial" id="txtMaterial" placeholder="Digite o material...." />
                            <input class="form-control form-control-sm" name="txtMaterialID" id="txtMaterialID" placeholder="txtMaterialID" disabled hidden />
                            <input class="form-control form-control-sm" name="txtValorUnitario" id="txtValorUnitario" placeholder="txtValorUnitario" disabled hidden />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <input class="form-control form-control-sm" name="txtQuantidade" value="" placeholder="Digite quantidade..." id="txtQuantidade" />
                    </div>
                    <div class="col-md-4">
                        <span name="txtUnidade" id="txtUnidade"></span>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info btn-sm" onclick="AdicionaItem()" type="button" name="btnAdd" id="btnAdd">Adicionar</button>
                    </div>
                </div>
                <br />
                <hr />
                <div class="row">
                    <div class="container">
                        <ul id="entregas_lista">
                            @{
                                foreach (var w in Model.Itens)
                                {
                                    <li name="LI_Itens" id="LI_Itens">
                                        @w.Material.Descricao;
                                        <span class="badge badge-success badge-pill" name="spanQts">@($"{w.Quantidade} {w.Material.Unidade}" )</span>
                                        <i class="far fa-trash-alt text-danger" id="btnExcluir"></i>
                                        <input  name="itemMaterial" value="@w.Material.Descricao" hidden/>
                                        <input  name="itemQuantidade" value="@w.Quantidade" hidden/>
                                        <input  name="itemID" value="@w.IdItem" hidden/>

                                        @*<span class="badge badge-primary badge-pill" name="spanQts">@($"R$ {(w.Quantidade * (decimal)w.Material.ValorUnitario).ToString("N2") }" )</span>*@
                                    </li>
                                }
                            }



                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div id="entregas_div" class="container">
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <input class="btn btn-success" type="submit" name="save" value="Gravar" style="width:20%" />
    </form>
</div>






<style>
    * {
        box-sizing: border-box;
    }

    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        /*display: inline-block;*/
    }


    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>


<script>
    var MateriaisVetor = @{
        <text>[</text>
        foreach (var i in ViewBag.MaterialAll){
            <text>['@i.Descricao', '@i.Unidade', '@i.QtdPadrao', '@i.Id','@i.ValorUnitario'],</text>
        }
        <text>]</text>
    }

    var ClientesVetor = @{
        <text>[</text>
        foreach(var m in ViewBag.Clientes){
            <text>['@m.Alias', '@m.Id'],</text>
        }
        <text>]</text>
    }

    var li = document.querySelectorAll("#btnExcluir");
    for (i = 0; i < li.length; i++) {
        li[i].addEventListener('click', function (e) {
            e.target.parentNode.remove();
        });
    }




        


</script>
<script src="~/EntregasCreate.js"></script>
