﻿@model Centroserv.ViewModels.AgendaIndexViewModel

@{
    //Layout = null;
}

<p>
    <button class="btn btn-info" data-toggle="modal" data-target="#ModalMaterial">Nova Entrega</button>
</p>
<table id="tableEntregas" class="table table-sm table-hover ">
    <thead>
        <tr>
            <th style="width:20%">
                Cliente
            </th>
            <th style="width:15%">
                @Html.DisplayNameFor(model => model.Entregas.FirstOrDefault().DataEntrega)
            </th>
            <th style="width:10%">
                @Html.DisplayNameFor(model => model.Entregas.FirstOrDefault().Entregue)
            </th>
            <th style="width:15%">
                Itens
            </th>
            <th style="width:20%">
                Observacao
            </th>
            <th style="width:20%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entregas)
        {
        <tr style="color: @(item.Entregue ? "lightgrey" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Alias)
            </td>
            <td>
                @item.DataEntrega.ToShortDateString()
            </td>
            <td>
                @{
                    if (item.Entregue)
                    {
                        <text>Sim</text>
                    }
                    else
                    {
                        <text>Nao</text>

                    }
                }
                @*@Html.DisplayFor(modelItem => item.Entregue)*@
            </td>
            <td>
                <ul>

                    @{
                        foreach (var w in item.Itens)
                        {
                            <li><small>@w.Material.Descricao</small></li>
                        }
                    }

                </ul>
            </td>
            <td>
                <small>@Html.DisplayFor(modelItem => item.Obs)</small>
            </td>

            <td>
                <a asp-action="Edit" asp-controller="Entregas" asp-route-id="@item.IdEntrega" class="text-info">Editar</a>
                @*@Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "text-info" })*@
                <span class="text-light">|</span>
                <a class="btn btn-link text-danger" data-toggle="modal" data-target="#modalExclui" data-idRegistro="@item.IdEntrega" data-descricaoRegistro="Entrega em @item.Cliente.Alias" data-nomeController="Entregas">
                    Excluir
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>






<partial name="_ConfirmaExclusao" />

<!-- Modal -->
<div class="modal fade" id="ModalMaterial" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <partial name="_EntregaIncluir" />
</div>


<script>
    $(document).ready(function () {
        $('#tableEntregas').DataTable({
            "dom": 'frtip',
            columnDefs: [{
                targets: [0, 1, 2, 3],
                className: 'mdl-data-table__cell--non-numeric'
            }],
            "language": {
                "search": "Buscar:"
            }

        });
    });
</script>

